--extra-index-url https://download.pytorch.org/whl/cu118
torch
langchain-pinecone  
pinecone
python-dotenv
langchain-groq
langgraph
langchain-core
typing-extensions
langchain-huggingface
langchain
langchain-community
langchain-text-splitters
diffusers
accelerate
transformers
flask
langgraph-checkpoint-sqlite
flask-session
pywebview