<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruth's Super Amazing AI Adventure!</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles-home.css')}}">
</head>
<body>
    <div id="home-screen">
        <div id="title">Ruth's Super Amazing AI Adventure!</div>
        <div id="buttons">
            <button id="new-game">New Game</button>
            <button id="load-game">Load Game</button>
            <button id="settings">Settings</button>
            <button id="about">About</button>
            <button id="quit">Quit</button>
        </div>

        <div id="save-menu" style="display: none;">
            <div class="content">
                <div class="header">
                    <h2 class="title">Load Game</h2>
                    <button class="back-button">Back</button>
                </div>
                <div id="save-slots">
                    <!-- Save slots dynamically generated here -->
                </div>
            </div>
        </div>

        <div id="about-menu" style="display: none;">
            <div class="content">
                <div class="header">
                    <h2 class="title">About</h2>
                    <button class="back-button">Back</button>
                </div>
                <div id="about-content">
                    <div id="about-general">
                        Proprietary software of E.D.E.N. Labs. <br>
                        Not to be distributed for public use. <br>
                        Run only with the direct permission and supervision of Dr. Woodward. <br>
                    </div>
                    <br>
                    <div id="about-endings">
                        <!-- endings dynamically generated -->
                    </div>
                </div>
            </div>
        </div>

        <div id="settings-menu" style="display: none;">
            <div class="content">
                <div class="header">
                    <h2 class="title">Settings</h2>
                    <button class="back-button">Back</button>
                </div>
                <div id="save-content">
                    <div class="setting">
                        <h3>Change image resolution. Higher resolution takes longer to load.</h3>
                        <input type="range" id="resolution-slider" min="1" max="5" value="3" step="1" 
                               oninput="updateResolutionLabel(this.value)" style="width: 40%;"/>
                        <div class="slider-label" id="resolution-label">Medium</div>
                    </div>
                    <div class="setting">
                        <h3>Number of inference steps. Higher number for higher quality.</h3>
                        <input type="range" id="steps-slider" min="10" max="50" value="30" step="1" 
                               oninput="updateStepsLabel(this.value)" style="width: 50%;"/>
                        <div class="slider-label" id="steps-label">25</div>
                    </div>
                    <div class="setting">
                        <label>
                            <input type="checkbox" id="deformity-toggle"/>
                            Allow possible deformities in art for faster art generation.
                        </label>
                    </div>
                    <div class="setting">
                        <h3>Background music volume</h3>
                        <input type="range" id="volume-slider" min="0" max="100" value="50" step="1" 
                               oninput="updateVolumeLabel(this.value)" style="width: 60%;"/>
                        <div class="slider-label" id="volume-label">50</div>
                    </div>
                    <div class="button-group">
                        <button id="cancel-button">Cancel</button>
                        <button class="save-button" onclick="saveSettings()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='script-home.js')}}"></script>
</body>
</html>
