<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles-home.css')}}">
</head>
<body>
    <div id="home-screen">
        <div id="title">Your Game Title</div>
        <div id="buttons">
            <button id="new-game">New Game</button>
            <button id="load-game">Load Game</button>
            <button id="settings">Settings</button>
            <button id="about">About</button>
            <button id="quit">Quit</button>
        </div>

        <div id="save-menu" style="display: none;">
            <div id="save-menu-content">
                <div id="save-menu-header">
                    <h2 id="save-menu-title">Save File</h2>
                    <button id="save-menu-back-button">Back</button>
                </div>
                <div id="save-slots">
                    <!-- Save slots dynamically generated here -->
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='script-home.js')}}"></script>
</body>
</html>
