<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruth's Super Amazing AI Adventure! - Game</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div id="save-menu" style="display: none;">
        <div class="content">
            <div class="header">
                <h2 class="title" id="save-menu-title">Save File</h2>
                <button class="back-button">Back</button>
            </div>
            <div id="save-slots">
                <!-- Save slots dynamically generated here -->
            </div>
        </div>
    </div>
    
    <div id="message-history" style="display: none;">
        <div class="content">
            <div class="header">
                <h2>Message History</h2>
                <button class="back-button">Back</button>
            </div>
            <div id="message-history-content">
                <!-- Messages will be dynamically populated here -->
            </div>
        </div>
    </div> 
    
    <div id="settings-menu" style="display: none;">
        <div class="content">
            <div class="header">
                <h2 class="title">Settings</h2>
                <button class="back-button">Back</button>
            </div>
            <div id="save-content">
                <div class="setting">
                    <h3>Change image resolution. Higher resolution takes longer to load.</h3>
                    <input type="range" id="resolution-slider" min="1" max="5" value="3" step="1" 
                           oninput="updateResolutionLabel(this.value)" style="width: 40%;"/>
                    <div class="slider-label" id="resolution-label">Medium</div>
                </div>
                <div class="setting">
                    <h3>Number of inference steps. Higher number for higher quality.</h3>
                    <input type="range" id="steps-slider" min="10" max="50" value="30" step="1" 
                           oninput="updateStepsLabel(this.value)" style="width: 50%;"/>
                    <div class="slider-label" id="steps-label">25</div>
                </div>
                <div class="setting">
                    <label>
                        <input type="checkbox" id="deformity-toggle"/>
                        Allow possible deformities in art for faster art generation.
                    </label>
                </div>
                <div class="setting">
                    <h3>Background music volume</h3>
                    <input type="range" id="volume-slider" min="0" max="100" value="50" step="1" 
                           oninput="updateVolumeLabel(this.value)" style="width: 60%;"/>
                    <div class="slider-label" id="volume-label">50</div>
                </div>
                <div class="button-group">
                    <button id="cancel-button">Cancel</button>
                    <button class="save-button" onclick="saveSettings()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="game-container">
        <div id="story-input-box" tabindex="0">
            <div id="story-text">Loading...</div>
            <div id="user-input-section" style="display: none;">
                <textarea type="text" id="user-input" placeholder="Say something..."></textarea>
                <button id="submit-button">&gt;</button>
            </div>
        </div>

        <div id="game-buttons">
            <button class="game-button">Home</button>
            <button class="game-button">History</button>
            <button class="game-button">Save</button>
            <button class="game-button">Load</button>
            <button class="game-button">Settings</button>
        </div>
    </div>
    <div id="choices-container"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
